[Unit]
Description=AutoSSH tunnel service for tower.
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -o "PubkeyAuthentication=yes" -o "PasswordAuthentication=no" -NL 7121:localhost:22 root@marcpartensky.com -p 7022
Restart=always
