[Unit]
Description=AutoSSH tunnel service for kong
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -M 0 -o "PubkeyAuthentication=yes" -o "PasswordAuthentication=no" -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3" -o ExitOnForwardFailure=yes -NR 7023:localhost:22 -p 7022 -i /root/.ssh/tunnel tunnel@marcpartensky.com
Restart=unless-stopped
